*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;

}

body{
    background: url(https://drive.google.com/uc?export=download&id=1w-p5Os-mdl7Wn6vUYy-tdTF6BxbdWUUQ) no-repeat;
    background-size: cover;
    height: 350vh;
}

/*********
*  NAVBAR *
**********/ 

.navbar{
    background-color: #333333;
    height: 9vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width:100%;
    font-size: 15px;
    padding-left: 225px;
    padding-right: 250px;
}

ul{
    list-style: none;
    display: flex;
    color: white;
    /* padding-left: 220px; */
}

ul > li{
    padding-top: 500px;
    padding: 25px;
    /* padding-top: 25px; */
}

.dl-button{
    padding-right: 10px;
}

.playbutton{
    margin-top: 18px;
    padding-right: 25px;
}

.dl-box{
    border: 10px solid #282828;
    border-radius: 15px;
    background-color: #282828;
    padding: 0 15px 0 15px;
}

/*********
* SECTION 1 *
**********/ 

.section-one{
    height: 100vh;
}

/*********
* SECTION 2 *
**********/ 

.section-two{
    height: 80vh;
}

/*********
* SECTION 3 *
**********/ 

.section-three{
    height: 80vh;
}

/*********
* SECTION 4 *
**********/ 

.tabs {
    margin-top: 150px;
    list-style: none;
    justify-content: center;
}

.tabs li{
    border: transparent;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background: none;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
}

.tabs li:hover{
    background-color: #1a3e4e;
    /* border-radius: 10px; */
    /* padding: 10px; */
}

.container{
    position: relative;
}
.content{
    margin-top: 25px;

    /* justify-content: center; */
    position:absolute;
    /* margin: auto; */
    top: 0;
    left: 50%;
    margin-left: -500px;
    display: none;
}

#contentPhoto{
    margin-left: -350px;
}
#contentPR{
    margin-left: -325px;
}
#contentRadio{
    margin-left: -350px;
}
.content.active{
    display: flex;
}

/* .contentPhoto{
    margin-top: 25px;
    display: flex;
    position:absolute;
    top: 0;
    left: 50%;
    margin-left: -350px;
    display: none;
} */

.caption{
    margin-left: 75px;
    width: 270px;
}

.videoTitle{
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: normal;
}

.videoCaption{
    margin-top: 70px;
}

/**SLIDER VIDEO**/

.slider{
    position: relative;
    width: 47%;
    overflow: hidden;
}

/**VIDEO**/
.imagesVideo{
    /* margin-right: 75px; */
    display: flex;
    width: 100%;
}

.imagesVideo img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.imagesVideo input{
    display: none;
}
.dotsVideo{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dotsVideo label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dotsVideo label:hover{background:#fff;}
#videoOne:checked ~ .videoOne{
    margin-left: 0;
}

#videoTwo:checked ~ .videoTwo{
    margin-left: -100%;
}

/**SLIDER PHOTO**/
.sliderPhoto{
    position: relative;
    width: 35%;
    overflow: hidden;
}

.imagesPhoto{
    /* margin-right: 75px; */
    display: flex;
    width: 100%;
}

.imagesPhoto img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.imagesPhoto input{
    display: none;
}
.dotsPhoto{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dotsPhoto label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dotsPhoto label:hover{background:#fff;}
#photoOne:checked ~ .photoOne{
    margin-left: 0;
}

#photoTwo:checked ~ .photoTwo{
    margin-left: -100%;
}